footer {
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: var(--white-color);
    text-align: center;
    font-size: 0.9rem;
    color: #555;
    border-top: 1px solid #e6e6e6;
}

.footer-content {
    margin-bottom: 1rem;
}

.footer-text {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.footer-copyright {
    font-size: 0.8rem;
    color: #bbb;
}

.footer-links a {
    color: var(--first-color);
    text-decoration: none;
    font-size: 0.9rem;
    padding: 1rem;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: var(--black-color);
}